{
	"paths": {
		"temp choco files": {
			"path": "C:\\Users\\Matt\\AppData\\Local\\Temp\\chocolatey",
            "delete_empty_folder": false,
			"age_threshold": 30
		},
		"local temp": {
            "path": "C:\\Users\\Matt\\AppData\\Local\\Temp",
            "delete_empty_folder": true,
			"age_threshold": 30
        },
		"local temp 2": {
            "path": "C:\\Users\\Matt\\AppData\\LocalLow\\Temp",
            "delete_empty_folder": true,
			"age_threshold": 30
        },
		"Downloads": {
            "path": "C:\\Users\\Matt\\Downloads",
            "delete_empty_folder": true,
			"age_threshold": 30
        }
	}
}
