{
	"paths": {
		"temp choco files": {
			"path": r"C:\Users\Matt\AppData\Local\Temp\chocolatey",
            "delete_empty_folder": False
		},
		"local temp": {
            "path": r"C:\Users\Matt\AppData\Local\Temp",
            "delete_empty_folder": True
        },
		"local temp 2": {
            "path": r"C:\Users\Matt\AppData\LocalLow\Temp",
            "delete_empty_folder": True
        },
		"Downloads": {
            "path": r"C:\Users\Matt\Downloads",
            "delete_empty_folder": True
        }
	}
}
