<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="firefox" packageParameters="/NoTaskbarShortcut /NoDesktopShortcut /NoAutoUpdate" />
      <package id="brave" />
	  <package id="paint.net" />
	  <package id="audacity" />
      <package id="vlc" />
	  <package id="vim" />
      <package id="7zip.install" />
      <package id="audacity-lame" />
      <package id="notepadplusplus.install" />
      <package id="gimp" />
      <package id="youtube-dl" />
      <package id="graphviz" />
      <package id="libreoffice-still" />
	  <package id="powertoys" />
	  <package id="scrcpy" />
	  <package id="sumatrapdf.install" />
	  <package id="xournalplusplus" />
	  <package id="choco-cleaner" />
    </packages>
